<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Minesweeper</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  </head>
  <body>
    <h1>Minesweeper</h1>
    <form>
      <div class="form-group">
        <label for="difficulty">Difficulty</label>
        <select class="form-control" id="difficulty">
          <option value="beginner">Beginner - 9x9 - 10 Mines</option>
          <option value="intermediate">Intermediate - 16x16 - 40 Mines</option>
          <option value="advanced">Advanced - 16x30 - 99 Mines</option>
        </select>
      </div>

      <!-- <div class="form-group">
        <label for="boardWidth">Width</label>
        <input type="number" class="form-control" id="boardWidth" placeholder="Width" min="1" value="1">
      </div>
      <div class="form-group">
        <label for="boardHeight">Height</label>
        <input type="number" class="form-control" id="boardHeight" placeholder="Height" min="1" value="1">
      </div>
      <div class="form-group">
        <label for="mineCount">Height</label>
        <input type="number" class="form-control" id="mineCount" placeholder="Height" min="1" value="1">
      </div> -->
    </form>
   <div id="app">
   </div>
  </body>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="http://localhost:8080/webpack-dev-server.js"></script>
  <script src="http://localhost:8080/bin/app.bundle.js"></script>
</html>
